body {
  font-family: 'PT Serif', serif;
  background: #24353f url('../images/bg-cover.jpg') no-repeat 100%;
  background-size: cover;
  filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.5));
  -webkit-filter: drop-shadow(2px 4px 6px rgba(0,0,0,0.5));
}

nav,
.main-card {
  background-color:rgb(36, 53, 64, 0.85);
  box-shadow: -5px 2px 54px -9px rgb(0 0 0);
}

nav .navbar-brand {
  letter-spacing: 2px;
}

nav .btn {
  font-size: 18px;
  padding-top: 4px;
}

nav .btn:hover {
  color: #fff;
}

main {
  min-height: calc(100vh - 56px);
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #17a2b8;
  margin-bottom: 30px;
}

h1 span {
  text-transform: uppercase;
}

form {
  text-align: center;
  margin: 15px auto 30px;
}

form input.form-control,
form input.form-control:focus {
  font-size: 18px;
  color: #B6B6B6;
  margin-bottom: 16px;
  background-color: #24353f;
  box-shadow: none;
}

form input.form-control::placeholder {
  color: #B6B6B6;
}

form .submit-btn:hover {
  color: #fff;
}

form .navigate-btn {
  color: #fff;
  vertical-align: baseline;
  border: 0;
  padding: 0;
}

form .navigate-btn:hover {
  text-decoration: underline;
}
